apps/nvr-agent/n8n-workflow-NVR-Alert-completo.json
{
  "name": "NVR Alert (Sheet + CronoApp + Heartbeats)",
  "nodes": [
    {
      "parameters": {
        "path": "nvr-alertas",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-nvr",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "nvr-alertas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-alerta",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "heartbeat",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combineOperation": "and"
        },
        "options": {}
      },
      "id": "if-no-heartbeat",
      "name": "Solo alertas (no heartbeat)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "PONER_ID_DE_TU_HOJA", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Hoja 1", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha/Hora": "={{ $json.body.timestamp }}",
            "NVR": "={{ $json.body.nvrId }}",
            "Evento": "={{ $json.body.eventTypeName }}",
            "Canal": "={{ $json.body.channel }}",
            "Status": "={{ $json.body.status }}"
          }
        },
        "options": {}
      },
      "id": "sheet-alertas",
      "name": "Google Sheets (alertas)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-TU_PROYECTO.cloudfunctions.net/nvrAgentEvents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nvrId\": \"{{ $json.body.nvrId }}\",\n  \"channel\": {{ $json.body.channel }},\n  \"eventTypeName\": \"{{ $json.body.eventTypeName }}\",\n  \"status\": \"{{ $json.body.status }}\",\n  \"timestamp\": \"{{ $json.body.timestamp }}\"\n}",
        "options": {}
      },
      "id": "http-cronoapp",
      "name": "Enviar a CronoApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 340]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "PONER_ID_DE_TU_HOJA", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Heartbeats", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nvrId": "={{ $json.body.nvrId }}",
            "LastHeartbeat": "={{ $json.body.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "sheet-heartbeats",
      "name": "Google Sheets (heartbeats)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 520]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Solo alertas (no heartbeat)", "type": "main", "index": 0 }]]
    },
    "Solo alertas (no heartbeat)": {
      "main": [
        [
          { "node": "Google Sheets (alertas)", "type": "main", "index": 0 },
          { "node": "Enviar a CronoApp", "type": "main", "index": 0 }
        ],
        [{ "node": "Google Sheets (heartbeats)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": { "templateCredsSetupCompleted": false }
}
